body {
  font-family: sans-serif;
  width: 100%;
	height: 100%;
	color: #fff;
	background: linear-gradient(-90deg, #00ccff, #E73C7E);
	background-size: 200% 200%;
	animation: Gradient 15s ease infinite;
  padding:0;
  margin:0;
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

.navbar {
    background-color: rgba(255, 255, 255, 0.36);
    width: 100%;
    height: 60px;
    text-align:right;
}

.navbar a {
    color: #e8e8e8;
    display: inline-block;
    text-decoration: none;
    transition: all 0.12s ease-out;
    font-size: 17px;
    text-decoration: none;
    height: 60px;
    padding: 0;
    margin: 0 6px;
    line-height: 60px;
}

.navbar a:hover {
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2), 2px 2px rgba(0, 0, 0, 0.2), 3px 3px rgba(0, 0, 0, 0.2), 4px 4px rgba(0, 0, 0, 0.2);
}

h1{
    margin: 6vw;
    font-size: 4.5vw;
    text-align: right;
    padding-left: 41vw;
}

.space-mono {
  font-family: 'Space Mono', monospace;
  line-height: 4vw;
  text-align: left;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  line-height: 5.5vw;
}

.plex {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  line-height: 4.75vw;
} 

.playfair {
  font-family: 'Playfair Display', serif;
  line-height: 4.75vw;
}


